USE [master]
GO
/****** Objeto: Database [CineDB] Fecha de script: 23/9/2026 16:52:09 ******/
CREATE DATABASE [CineDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CineDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CineDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineDB]
GO
/****** Objeto: Table [dbo].[pelicula] Fecha de script: 23/9/2026 16:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[duracion] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[pelicula_salacine] Fecha de script: 23/9/2026 16:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula_salacine](
	[id_pelicula_sala] [int] IDENTITY(1,1) NOT NULL,
	[id_sala_cine] [int] NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[fecha_publicacion] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sala_cine] Fecha de script: 23/9/2026 16:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sala_cine](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pelicula] ON 

INSERT [dbo].[pelicula] ([id_pelicula], [nombre], [duracion], [activo]) VALUES (2, N'Avengers', 120, 1)
SET IDENTITY_INSERT [dbo].[pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[sala_cine] ON 

INSERT [dbo].[sala_cine] ([id_sala], [nombre], [estado]) VALUES (1, N'Sala 1 IMAX', 1)
INSERT [dbo].[sala_cine] ([id_sala], [nombre], [estado]) VALUES (2, N'Sala 2 VIP', 1)
INSERT [dbo].[sala_cine] ([id_sala], [nombre], [estado]) VALUES (3, N'Sala 3 4D', 1)
SET IDENTITY_INSERT [dbo].[sala_cine] OFF
GO
ALTER TABLE [dbo].[pelicula] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[pelicula_salacine] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[sala_cine] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[pelicula_salacine]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaSala_Pelicula] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[pelicula] ([id_pelicula])
GO
ALTER TABLE [dbo].[pelicula_salacine] CHECK CONSTRAINT [FK_PeliculaSala_Pelicula]
GO
ALTER TABLE [dbo].[pelicula_salacine]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaSala_Sala] FOREIGN KEY([id_sala_cine])
REFERENCES [dbo].[sala_cine] ([id_sala])
GO
ALTER TABLE [dbo].[pelicula_salacine] CHECK CONSTRAINT [FK_PeliculaSala_Sala]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ConsultarEstadoSala] Fecha de script: 23/9/2026 16:52:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarEstadoSala]
    @NombreSala VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CantidadPeliculas INT;
    DECLARE @IdSala INT;

    SELECT TOP 1 @IdSala = id_sala 
    FROM sala_cine 
    WHERE nombre LIKE '%' + @NombreSala + '%' AND estado = 1;

    IF @IdSala IS NULL
    BEGIN
        SELECT 'Sala no encontrada' AS Mensaje, 0 AS CantidadPeliculas;
        RETURN;
    END

    SELECT @CantidadPeliculas = COUNT(*)
    FROM pelicula_salacine
    WHERE id_sala_cine = @IdSala AND activo = 1;

    IF @CantidadPeliculas < 3
        SELECT 'Sala disponible' AS Mensaje, @CantidadPeliculas AS CantidadPeliculas;
    ELSE IF @CantidadPeliculas BETWEEN 3 AND 5
        SELECT CONCAT('Sala con ', @CantidadPeliculas, ' películas asignadas') AS Mensaje, @CantidadPeliculas AS CantidadPeliculas;
    ELSE
        SELECT 'Sala no disponible' AS Mensaje, @CantidadPeliculas AS CantidadPeliculas;
END;
GO
USE [master]
GO
