<div>
  <h2 class="mb-4">Dashboard de Indicadores</h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card text-white bg-primary shadow-sm h-100">
        <div class="card-body text-center p-4">
          <h5>Total Salas de Cine</h5>
          <h1 class="display-3 fw-bold my-2">{{ indicadores.totalSalas }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success shadow-sm h-100">
        <div class="card-body text-center p-4">
          <h5>Salas Disponibles </h5>
          <h1 class="display-3 fw-bold my-2">{{ indicadores.totalSalasDisponibles }}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info shadow-sm h-100">
        <div class="card-body text-center p-4">
          <h5>Total Películas</h5>
          <h1 class="display-3 fw-bold my-2">{{ indicadores.totalPeliculas }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>